<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
</head>

<body>
    <h1>Edit Book</h1>
    <form action="/updateBook" method="post" th:object="${book}">
        <input type="hidden" th:field="*{id}">
        Title: <input type="text" th:field="*{title}"><br>
        Author: <input type="text" th:field="*{author}"><br>
        Publication Year: <input type="text" th:field="*{publicationYear}"><br>
        ISBN: <input type="text" th:field="*{isbn}"><br>
        Price: <input type="text" th:field="*{price}"><br>
        <input type="submit" value="Update Book">
    </form>
</body>

</html>
